<form>
  <strong>Type your paragraph:</strong><br>
  <textarea name="paragraph" id="paragraph"></textarea>
  <input type="button" onClick="counter()" value="Submit" >
</form> 

<span id="wordcount"></span>
<span id="charcount"></span>