
<p>
<strong>Your Paragraph:</strong>
<%= @counter.paragraph %>
</p>

<p>
<strong>Character Count</strong>
<%= @counter.charcount %>
</p>

<p>
<strong>Word Count</strong>
<%= @counter.wordcount %>
</p>

<%= link_to 'Back', new_counter_path %>